body {
    background-color: #1b1515;
    color: white;
    text-align: center;
}

.container {
    margin-top: 100px;
}

.profile-card {
    width: 150px;
    cursor: pointer;
}

.profile-name {
    font-size: 1.2rem;
    margin-top: 10px;
}

.profile-card img {
    border-radius: 8px;
    border: 2px solid transparent;
}

.profile-card img:hover {
    border-color: #e50914;
}

.add-profile {
    font-size: 1.2rem;
    color: #b3b3b3;
    border-style:hidden;

}
.logo {
    text-align:left;
    margin-bottom: 40px;
  }

  .logo img {
    width: 150px; 
    margin-left: 10%;
  }